.container {
    display: flex;
    align-items: center;
}

img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

h3{
    font-weight: 500;
    text-align: justify;

}

button{
    border:  none;
    background-color: transparent;
    color: #645cff;

}
p{
    color: grey;
    text-align: justify;
}
.main{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

span{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1;
    display: block;
}

.container{
    width: 50%;
}